* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "../scss/utilidades/variables";
@import "../scss/utilidades/mixin";
@import "../scss/utilidades/extend";

body{
    background-color: $color-principal; 
    overflow-y: scroll;
}

header{
    text-align: center;
    h1{
      text-align: center;
      margin: 1rem;
      padding: 2rem;
      box-sizing: border-box;
    }
    nav{
    margin: 1rem;
    padding: 2rem;
    div{
      justify-content: center;
    }
}
}

main{
    h2{
     @include flex
    }
    h3{
      @extend %main
    } 

    p{
      @extend %main
    }
    form{
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: $color-secundario;
    } 
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin: 1rem;
    div img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
}

.contenedor-dos{
    display: flex;
    justify-content: center;
    background-color: beige;
    gap: 20px;
    padding: 1rem;
    margin: 1rem;
}

.contenedor-tres div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    text-align: center;
    margin: 1rem;
    padding: 2rem;
}

@media screen and (min-width: 600px) {
    .contenedor div img, .contenedor-tres div img {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 50%);
    }
    .contenedor, .contenedor-tres {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 320px) {
    .contenedor-tres div img,
    .contenedor div img {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 25%);
    }
  }

  @media screen and (min-width: 1024) {
    .contenedor div img, .contenedor-tres div img {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 50%);
    }
    .contenedor, .contenedor-tres {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  